@import "../colors";

.button {
  background-color: $color-primary-dark;
  color: $color-text-light;
  outline: none;
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  transition: background-color 100ms ease-in-out;
}

.button:hover {
  background-color: $color-primary;
  transition: background-color 100ms ease-in-out;
}

.label{
  padding: 5%;
  margin-bottom: 10px;
}